<div class="mobile-menu">
    <button class="mobile-menu__btn-close menu-btn-close" type="button">
        <svg width="24" height="24">
            <use href="../icon/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>

    <a class="mobile-menu__logo" href="/">
        <svg class="mobile-menu__logo-icon" width="108" height="57">
            <use href="../icon/symbol-defs.svg#icon-logo"></use>
        </svg>
    </a>

    <ul class="mobile-menu__list">
        <li><a class="mobile-menu__link" href="#traditions-section">Наші традиції</a></li>
        <li><a class="mobile-menu__link" href="#chefs-section">Шеф-кухарі</a></li>
        <li><a class="mobile-menu__link" href="#formats-section">Формати</a></li>
        <li><a class="mobile-menu__link" href="#contact-section">Контакти</a></li>
    </ul>
</div>