<section class="chefs-section section" id="chefs-section">
    <div class="container">
        <h2 class="chefs-section__title section__title section__title--centered">
            Наші найкращі <br />
            <span class="text-brand-dark">шеф-кухарі</span>
        </h2>
        <ul class="chefs-section__list">
            <li class="chefs-section__item">
                <article class="chef-card">
                    <img class="chef-card__photo" src="/image/nastua-1x.jpg" srcset="/image/nastua-1x.jpg 1x, /image/nastua-2x.jpg 2x" alt="Nastya chef" />
                    <div>
                        <h3 class="chef-card__title">Настя</h3>
                        <p class="chef-card__text">Привіт, я Настя!</p>
                        <p class="chef-card__text">
                            Вже 10 років, я втілюю <br />
                            у життя цікаві та смачні ідеї.
                        </p>
                        <p class="chef-card__text">
                            Я випічу для вас <br />
                            найсмачніщі вироби!
                        </p>
                    </div>
                </article>
            </li>
            <li class="chefs-section__item">
                <article class="chef-card">
                    <img class="chef-card__photo" src="/image/vlad-1x.jpg" srcset="/image/vlad-1x.jpg 1x, /image/vlad-2x.jpg 2x" alt="Vlad chef" />
                    <div>
                        <h3 class="chef-card__title">Влад</h3>
                        <p class="chef-card__text">Привіт, я Влад!</p>
                        <p class="chef-card__text">
                            Мій кодитерський стаж вже 18 років. SHOP BEKERY - це наша
                            любов, з якою ми ділимось кожен раз з Вами через нашу
                            випічку!
                        </p>
                        <p class="chef-card__text">
                            Я зроблю для вас унікальну начинку на будь який смак!
                        </p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>